body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}

header {
    background-color: #F78E69;
    color: #F7EF99;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}